@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Your OTP Verification is success . you can login to the App</h1>

<a href="/User/login">Login</a>
@{
}
